/* line 2, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_grid.css.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
* STYLE OF LINKS
*/
/* line 7, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_reset.css.scss */
a, a * {
  color: #3c3c3b;
  text-decoration: none; }

/* line 12, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_reset.css.scss */
a:visited, a:visited * {
  color: #3c3c3b; }

/* line 16, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_reset.css.scss */
a:hover, a:hover * {
  text-decoration: underline; }

/* line 20, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_reset.css.scss */
a.header-contacts-chat:hover * {
  text-decoration: none; }
  /* line 23, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_reset.css.scss */
  a.header-contacts-chat:hover * span.header-contact-left-text {
    text-decoration: underline; }

/* line 2, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #3c3c3b; }

/* line 16, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
h1 {
  font-size: 42px;
  line-height: 1.2;
  color: #585858; }
  /* line 21, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
  h1 em {
    color: #e1412d;
    font-weight: normal; }

/* line 27, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
h1.online-shops-headline {
  font-size: 24px; }

/* line 31, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
h3 {
  font-size: 18px;
  color: #787878; }

/* line 37, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
h4 {
  font-size: 16px;
  font-weight: bold; }

/* line 43, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
h5 {
  font-size: 14px;
  font-weight: bold; }

/* line 49, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
p {
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 1.4; }

/* line 55, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
em {
  font-weight: bold; }

/* line 60, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
.shopoverview-grid .thin-column p, .thin-column-action-link {
  font-size: 14px; }

/* line 65, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
.subscribe-box-no, .shopcolumn-grid {
  font-size: 12px; }

/* line 69, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
.greyed-out {
  color: #787878; }

/* line 100, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
.sidebar-title {
  color: #e1412d; }

/* line 106, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
.not-available {
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* IE6+ */ }

/* line 112, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
[data-action] {
  cursor: pointer; }

/* line 116, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
.centered-text {
  text-align: center; }

/* line 120, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
.justified-text {
  text-align: justify; }

/* line 124, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_typography.css.scss */
.nowrap {
  white-space: nowrap; }

/* line 1, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_images.css.scss */
.shopoverview-grid .thin-column, .shopoverview-grid img, .shipping-grid > div:first-child img, .shopcolumn-grid > .left-col img {
  max-width: 100%;
  max-height: 100%; }

/* line 28, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_images.css.scss */
.shopoverview-grid .thin-column {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 36, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_images.css.scss */
.image-placeholder {
  visibility: hidden; }

/* line 2, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_links.css.scss */
.overlay-container a, .overlay-container label.forgot-password {
  color: #3c3c3b;
  text-decoration: underline; }
/* line 7, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_links.css.scss */
.overlay-container a:hover, .overlay-container label.forgot-password:hover {
  color: #6f6f6e; }

/* line 26, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_links.css.scss */
.landing-help-link a {
  color: #32a096;
  text-decoration: none; }
/* line 31, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/base/_links.css.scss */
.landing-help-link a:hover {
  color: #267972; }

/* line 7, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_buttons.css.scss */
.call2action-button, .call2action-giant-button, .vendor-button {
  display: inline-block;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 #a2a2a2;
  font-family: "Lato", sans-serif;
  text-decoration: none !important; }
  /* line 16, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_buttons.css.scss */
  .call2action-button a, .call2action-giant-button a, .vendor-button a {
    width: 100%;
    height: 100%; }

/* line 23, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_buttons.css.scss */
.call2action-button {
  background-color: #e1412d;
  background-image: _deprecated-webkit-gradient(linear, left top, left bottom, #de3f2b, #d33c29);
  background-image: -webkit-linear-gradient(#de3f2b, #d33c29);
  background-image: linear-gradient(#de3f2b, #d33c29);
  color: #fff !important; }

/* line 28, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_buttons.css.scss */
.call2action-giant-button, .vendor-button {
  background-color: #32a096;
  background-image: _deprecated-webkit-gradient(linear, left top, left bottom, #2ea297, #30988f);
  background-image: -webkit-linear-gradient(#2ea297, #30988f);
  background-image: linear-gradient(#2ea297, #30988f);
  color: #fff !important; }

/* line 33, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_buttons.css.scss */
.call2action-button, .vendor-button {
  height: 45px;
  padding: 0 30px;
  font-size: 18px;
  line-height: 45px; }

/* line 40, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_buttons.css.scss */
.call2action-giant-button {
  height: 55px;
  padding: 0 45px;
  font-size: 18px;
  line-height: 55px; }

@media only screen and (min-device-width: 320px) and (max-width: 767px) {
  /* line 53, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_buttons.css.scss */
  .call2action-giant-button {
    width: 90%; } }

/* line 1, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.huge-overlay-box, .simple-box, .subscribe-box {
  *zoom: 1;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background: #fff; }
  /* line 17, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .huge-overlay-box:before, .simple-box:before, .subscribe-box:before, .huge-overlay-box:after, .simple-box:after, .subscribe-box:after {
    content: " ";
    display: table; }
  /* line 23, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .huge-overlay-box:after, .simple-box:after, .subscribe-box:after {
    clear: both; }

/*
 A big box is one in the center of attention.
*/
/* line 25, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.huge-overlay-box {
  border-top: 3px solid #32a096; }

/* line 35, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.huge-overlay-box {
  position: absolute;
  top: 65px;
  left: 50%;
  box-shadow: 1px 2px 1px 0 #a2a2a2; }
  /* line 43, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
  .huge-overlay-box .title {
    margin: 20px 0; }
    /* line 46, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
    .huge-overlay-box .title img {
      margin: 0px 5px -16px 5px; }

/* line 103, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.simple-box {
  margin-top: 20px;
  padding: 10px 10px; }

/* line 109, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.simple-box-title {
  margin: 24px 0;
  text-align: center;
  font-size: 28px;
  color: #585858; }
  @media only screen and (max-width: 1223px) {
    /* line 109, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
    .simple-box-title {
      font-size: 20px; } }

/* line 120, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.simple-box-headline {
  margin: 12px 0 24px;
  text-align: center;
  font-size: 24px;
  color: #585858; }
  @media only screen and (max-width: 1223px) {
    /* line 120, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
    .simple-box-headline {
      font-size: 18px; } }

/* line 132, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.subscribe-box {
  position: relative;
  width: 100%;
  margin-top: 50px;
  padding: 40px 40px 30px;
  border-top: 5px solid #32a096;
  background-color: #F5F5F5; }
  /* line 141, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
  .subscribe-box .error-message {
    margin-bottom: 10px; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 132, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
    .subscribe-box {
      padding: 30px 10px; } }

/* line 151, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.subscribe-box-spinner {
  position: absolute;
  bottom: 70px;
  left: 47%; }

/* line 158, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.subscribe-box-arrow {
  position: absolute;
  top: 0;
  left: 80px; }

/* line 164, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.subscribe-box-arrow-border {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 16px;
  border-style: solid;
  border-color: #32a096 transparent transparent; }

/* line 173, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.subscribe-box-arrow-core {
  position: absolute;
  top: -6px;
  width: 0;
  height: 0;
  border-width: 16px;
  border-style: solid;
  border-color: #fff transparent transparent; }

/* line 184, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.subscribe-box-title {
  font-size: 22px; }

/* line 189, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.subscribe-box-description {
  margin: 10px 0 25px;
  font-size: 18px; }
  /* line 193, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
  .subscribe-box-description span {
    color: #32a096; }

/* line 198, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.subscribe-box-content {
  max-width: 650px; }

/* line 203, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.subscribe-box-image {
  position: absolute;
  right: 20px;
  bottom: 20px; }
  /* line 208, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
  .subscribe-box-image img {
    max-width: 225px; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 203, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
    .subscribe-box-image {
      display: none; } }

/* line 218, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.subscribe-box-form {
  *zoom: 1; }
  /* line 17, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .subscribe-box-form:before, .subscribe-box-form:after {
    content: " ";
    display: table; }
  /* line 23, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .subscribe-box-form:after {
    clear: both; }
  /* line 220, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
  .subscribe-box-form input {
    width: 300px;
    height: 46px;
    margin-right: 20px;
    float: left;
    font-size: 18px; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 229, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
    .subscribe-box-form input,
    .subscribe-box-form button {
      width: 100%;
      margin-bottom: 10px; } }

/* line 242, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.box-back {
  position: absolute;
  top: 7px;
  z-index: 2; }

/* line 248, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.huge-overlay-box {
  width: 840px;
  max-width: 100%;
  margin-left: -420px; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 248, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
    .huge-overlay-box {
      margin-left: -50%; } }
  /* line 258, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
  .huge-overlay-box .huge-title-text {
    font-size: 23px; }
    /* line 261, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
    .huge-overlay-box .huge-title-text .second-line {
      margin-top: 5px; }
    /* line 265, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
    .huge-overlay-box .huge-title-text.timeout {
      margin: 50px 0 75px; }
      /* line 268, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
      .huge-overlay-box .huge-title-text.timeout button {
        margin-top: 25px; }
  /* line 275, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
  .huge-overlay-box .big-title-text {
    font-size: 20px; }

/* line 281, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.box-close, .overlay-box-close {
  position: absolute;
  top: -5px;
  right: 3px;
  color: #cbcbcb;
  font-size: 32px;
  line-height: 1; }

/* line 291, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.overlay-box-close {
  z-index: 5; }

/* line 297, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.light-box {
  position: relative;
  padding: 40px 0;
  border-radius: 5px;
  background: #F5F5F5; }

/* line 304, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_boxes.css.scss */
.light-box-title {
  font-size: 18px;
  margin-bottom: 20px; }

/* line 1, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_lists.css.scss */
.assortment-list {
  *zoom: 1;
  margin: 0 0 15px -10px; }
  /* line 17, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .assortment-list:before, .assortment-list:after {
    content: " ";
    display: table; }
  /* line 23, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .assortment-list:after {
    clear: both; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 6, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/components/_lists.css.scss */
    .assortment-list li {
      float: none; } }

/* line 1, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_knowledge.css.scss */
.knowledge-headline-small {
  margin: 0 0 15px; }

/* line 6, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_knowledge.css.scss */
.knowledge-shop-columns {
  *zoom: 1;
  margin-bottom: 60px;
  position: relative;
  height: 320px;
  border: 1px dashed #e0e0e0;
  border-left: 10px solid #e0e0e0; }
  /* line 17, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .knowledge-shop-columns:before, .knowledge-shop-columns:after {
    content: " ";
    display: table; }
  /* line 23, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .knowledge-shop-columns:after {
    clear: both; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 6, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_knowledge.css.scss */
    .knowledge-shop-columns {
      margin-bottom: 25px;
      height: auto; } }

/* line 1, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
.steps-grid, .top-grid, .shipping-grid, .filter-grid {
  *zoom: 1;
  overflow: hidden; }
  /* line 17, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .steps-grid:before, .top-grid:before, .shipping-grid:before, .filter-grid:before, .steps-grid:after, .top-grid:after, .shipping-grid:after, .filter-grid:after {
    content: " ";
    display: table; }
  /* line 23, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .steps-grid:after, .top-grid:after, .shipping-grid:after, .filter-grid:after {
    clear: both; }

/* line 7, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
.shopoverview-grid {
  height: 100%; }
  /* line 14, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
  .shopoverview-grid .thin-column {
    display: block;
    float: left;
    margin-right: 2.84259%;
    width: 17.72593%;
    height: 100%;
    position: relative;
    padding-top: 20px;
    text-align: center; }
    /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
    .shopoverview-grid .thin-column:last-child {
      margin-right: 0; }
  /* line 27, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
  .shopoverview-grid .thin-column-action {
    position: absolute;
    bottom: 20px; }
    /* line 31, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
    .shopoverview-grid .thin-column-action button {
      padding: 13px 20px; }
  /* line 36, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
  .shopoverview-grid .thin-column-rating {
    *zoom: 1;
    width: 125px;
    margin: 15px auto; }
    /* line 17, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
    .shopoverview-grid .thin-column-rating:before, .shopoverview-grid .thin-column-rating:after {
      content: " ";
      display: table; }
    /* line 23, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
    .shopoverview-grid .thin-column-rating:after {
      clear: both; }
    /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
    .shopoverview-grid .thin-column-rating img {
      float: left; }
  /* line 46, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
  .shopoverview-grid .thick-column {
    display: block;
    float: left;
    margin-right: 2.84259%;
    width: 58.86297%;
    padding: 20px 0; }
    /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
    .shopoverview-grid .thick-column:last-child {
      margin-right: 0; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 52, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
    .shopoverview-grid .thin-column,
    .shopoverview-grid .thick-column {
      display: block;
      float: left;
      margin-right: 38.19821%;
      width: 100%;
      min-height: 100px; }
      /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
      .shopoverview-grid .thin-column:last-child,
      .shopoverview-grid .thick-column:last-child {
        margin-right: 0; }
    /* line 58, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
    .shopoverview-grid .thin-column-action {
      left: 25%; }
    /* line 62, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
    .shopoverview-grid .thick-column {
      padding: 10%; } }

/* line 69, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
.steps-grid {
  margin: 40px 0; }
  /* line 73, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
  .steps-grid > div {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
    .steps-grid > div:last-child {
      margin-right: 0; }
  /* line 77, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
  .steps-grid .icon {
    max-width: 80px; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 82, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
    .steps-grid > div {
      display: block;
      float: left;
      margin-right: 38.19821%;
      width: 100%; }
      /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
      .steps-grid > div:last-child {
        margin-right: 0; } }

/* line 91, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
.top-grid > div:first-child {
  display: block;
  float: left;
  margin-right: 10.1484%;
  width: 63.28387%; }
  /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
  .top-grid > div:first-child:last-child {
    margin-right: 0; }
/* line 94, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
.top-grid > div:last-child {
  display: block;
  float: left;
  margin-right: 10.1484%;
  width: 26.56773%; }
  /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
  .top-grid > div:last-child:last-child {
    margin-right: 0; }
  /* line 96, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
  .top-grid > div:last-child img {
    max-width: 100%;
    max-height: 100%; }
@media only screen and (min-device-width: 320px) and (max-width: 767px) {
  /* line 103, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
  .top-grid > div:first-child,
  .top-grid > div:last-child {
    display: block;
    float: left;
    margin-right: 38.19821%;
    width: 100%; }
    /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
    .top-grid > div:first-child:last-child,
    .top-grid > div:last-child:last-child {
      margin-right: 0; }
  /* line 108, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
  .top-grid > div:last-child {
    text-align: right; }
    /* line 111, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_grids.css.scss */
    .top-grid > div:last-child img {
      max-width: 50px; } }

/* line 1, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_layout.css.scss */
.static-container {
  *zoom: 1;
  max-width: 72em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  overflow: hidden; }
  /* line 17, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .static-container:before, .static-container:after {
    content: " ";
    display: table; }
  /* line 23, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .static-container:after {
    clear: both; }
  @media only screen and (min-width: 1224px) and (max-width: 1449px) {
    /* line 1, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_layout.css.scss */
    .static-container {
      width: 1210px; } }
  @media only screen and (min-width: 1450px) and (max-width: 1823px) {
    /* line 1, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_layout.css.scss */
    .static-container {
      width: 1230px; } }
  @media only screen and (min-width: 1824px) {
    /* line 1, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_layout.css.scss */
    .static-container {
      width: 1250px; } }
  /* line 19, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_layout.css.scss */
  .static-container .header-container,
  .static-container .content-container {
    padding-right: 10px;
    padding-left: 10px; }

/* line 27, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_layout.css.scss */
.overlay-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10; }

/* line 36, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/layout/_layout.css.scss */
.overlay-background {
  position: fixed;
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* IE6+ */
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0; }

/* line 1, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
body {
  color: #585858;
  font-family: "Lato",sans-serif;
  font-size: 16px;
  line-height: 22px; }

/* line 8, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
h1 {
  font-size: 42px;
  line-height: 50px; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 8, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    h1 {
      font-size: 20px;
      line-height: 24px; } }

/* line 18, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
h2, .sidebar-title {
  margin: 50px 0 40px;
  font-size: 30px;
  line-height: 35px; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 18, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    h2, .sidebar-title {
      font-size: 18px;
      line-height: 20px; } }

/* line 29, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
h3 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold; }

/* line 35, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
h4 {
  font-size: 18px;
  font-weight: bold;
  color: #32a096; }

/* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.title {
  font-size: 21px;
  line-height: 32px; }

/* line 47, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.center {
  text-align: center; }

/******************/
/* basic elements: wrapper, header, footer, content */
/******************/
/* line 55, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
#wrapper {
  max-width: 1060px;
  margin: 0 auto; }

/* line 60, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
#header {
  max-width: 960px;
  margin: 10px 0 0 0; }

/* line 65, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
#main-box {
  background: #fff;
  min-height: 750px;
  margin-top: 10px;
  box-shadow: 0px 1px 1px 0px #a2a2a2;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  border-top: 3px solid #32a096;
  padding: 30px 40px; }

/* line 76, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
#footer {
  color: #787878;
  text-align: center;
  font-size: 12px;
  margin: 200px 0 10px 0; }

/******************/
/* nav styles */
/******************/
/* line 87, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.content a, a:link, a:visited {
  margin-top: 10px;
  color: #585858;
  text-decoration: none; }

/* line 93, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.simplora-logo {
  margin: 20px 0; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 93, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .simplora-logo {
      margin: 20px 0; } }

/* line 101, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.error {
  display: none;
  margin: 12px auto;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #e4003a;
  border-radius: 3px;
  text-align: center;
  color: #e4003a;
  background-color: #fce5eb; }

/* line 113, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.search-form {
  text-align: center; }

/* line 117, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.zipcode-input {
  margin: 40px;
  font-size: 19px;
  text-align: center; }

/* line 123, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.search-form-input {
  margin-bottom: 20px;
  width: 100%;
  padding: 13px 0;
  font-size: 18px;
  text-align: center; }

/* line 131, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.search-form-button {
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 13px 0;
  font-size: 18px;
  color: #fff !important;
  background-color: #32a096;
  background-image: _deprecated-webkit-gradient(linear, left top, left bottom, #2ea297, #30988f);
  background-image: -webkit-linear-gradient(#2ea297, #30988f);
  background-image: linear-gradient(#2ea297, #30988f); }

/* line 141, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.search-form-button:hover {
  text-decoration: none; }

/* line 147, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.headline {
  margin: 60px 0 0;
  text-align: left;
  font-size: 18px;
  font-weight: bold; }

/* line 154, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.output {
  display: none;
  margin: 60px 0 20px; }

/* line 159, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.output-count {
  font-weight: bold; }

/* line 164, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.shop {
  float: left;
  height: 80px;
  margin-top: 60px;
  text-align: center; }

/* line 171, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.shop img:hover {
  cursor: pointer; }

/* line 175, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.shop-image {
  max-width: 150px;
  max-height: 80px; }

/* line 180, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.clear {
  clear: both; }

/* line 184, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.social {
  display: none;
  border-top: 1px solid #e0e0e0;
  margin-top: 60px;
  padding-top: 20px;
  text-align: center; }

/* line 193, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.btn-social {
  display: inline-block;
  border: none;
  border-radius: 3px;
  width: 175px;
  padding: 15px 0;
  font-size: 15px;
  text-align: center; }

/* line 203, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.img-social {
  float: left;
  margin-left: 10px; }

/* line 209, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.facebook {
  margin-right: 30px;
  background-color: #3b5998;
  color: #fff !important; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 209, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .facebook {
      margin-right: 0; } }

/* line 219, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.facebook > span {
  color: #fff !important; }

/* line 222, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.twitter {
  background-color: #4099FF;
  color: #fff !important; }

/* line 226, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.twitter > span {
  color: #fff !important; }

/* line 230, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.steps {
  margin-bottom: 40px; }

/* line 234, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.steps li {
  margin-bottom: 20px; }

/* line 239, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.inner-container {
  margin: 0 80px; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 239, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .inner-container {
      margin: 0 10px; } }

/* line 247, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.finden-divider {
  width: 100%;
  height: 1px;
  margin-top: -6px;
  border-top: 2px solid #e0e0e0; }

/* line 254, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.box-grid-title {
  margin: 0 0 40px;
  line-height: 30px;
  font-size: 21px;
  text-align: center; }

/* line 261, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.small-container {
  max-width: 770px;
  margin: 0 auto;
  padding: 0 10px; }

/* line 267, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.landing-container {
  margin: 100px 0 400px; }
  /* line 270, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .landing-container h1 {
    margin-bottom: 80px; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 267, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .landing-container {
      margin: 80px 0 160px; }
      /* line 277, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
      .landing-container h1 {
        margin-bottom: 20px; } }

/* line 283, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.shipping-grid {
  margin-bottom: 20px; }
  /* line 286, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .shipping-grid > div {
    display: block;
    float: left;
    margin-right: 38.19821%;
    width: 100%; }
    /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
    .shipping-grid > div:last-child {
      margin-right: 0; }
  /* line 290, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .shipping-grid > div:first-child {
    text-align: center; }

/* line 298, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.steps-grid {
  margin: 60px 0;
  text-align: center; }
  /* line 302, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .steps-grid > div {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
    .steps-grid > div:last-child {
      margin-right: 0; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 307, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .steps-grid > div {
      display: block;
      float: left;
      margin-right: 38.19821%;
      width: 100%; }
      /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
      .steps-grid > div:last-child {
        margin-right: 0; } }

/* line 313, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
#mc-embedded-subscribe-form {
  margin-top: 20px; }

/* line 317, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
#mc-embedded-subscribe-input {
  max-width: 100%;
  width: 350px;
  height: 45px;
  margin: 10px 0;
  padding: 0 20px; }

/* line 325, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.call2action-button {
  max-width: 100%;
  width: 350px; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 325, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .call2action-button {
      padding: 0; } }

/* line 334, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.subscribe-box {
  padding: 40px 250px 30px 40px; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 334, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .subscribe-box {
      padding: 20px; } }

/* line 342, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.filter-grid {
  margin-bottom: 20px; }
  /* line 346, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .filter-grid > div:first-child {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 57.35098%; }
    /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
    .filter-grid > div:first-child:last-child {
      margin-right: 0; }
  /* line 350, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .filter-grid > div:last-child {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 40.29137%; }
    /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
    .filter-grid > div:last-child:last-child {
      margin-right: 0; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 356, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .filter-grid > div:first-child {
      display: block;
      float: left;
      margin-right: 38.19821%;
      width: 100%; }
      /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
      .filter-grid > div:first-child:last-child {
        margin-right: 0; }
    /* line 360, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .filter-grid > div:last-child {
      display: block;
      float: left;
      margin-right: 38.19821%;
      width: 100%;
      margin-top: 10px; }
      /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
      .filter-grid > div:last-child:last-child {
        margin-right: 0; } }

/* line 367, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.big-title {
  font-size: 18px; }

/* line 371, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.small-text {
  font-size: 14px; }

/* line 375, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.yesno-label {
  margin: 0 30px 0 10px; }

/* line 379, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.start-second-box-paragraph {
  text-align: justify; }

/* line 383, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
#overlay {
  display: none; }

/* line 387, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
#overlay-container {
  display: none; }

/* line 391, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.overlay-inner-container {
  padding: 40px; }

/* line 395, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.overlay-box-close:hover {
  cursor: pointer; }

/* line 399, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.thin-column-action-link {
  margin-bottom: 20px;
  text-decoration: underline;
  color: #32a096; }
  /* line 405, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .thin-column-action-link:hover {
    color: #267972;
    cursor: pointer; }

/* line 411, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.shopcolumn-grid {
  *zoom: 1;
  margin-top: 20px;
  border-top: 1px solid #e0e0e0;
  padding: 30px 0; }
  /* line 17, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .shopcolumn-grid:before, .shopcolumn-grid:after {
    content: " ";
    display: table; }
  /* line 23, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
  .shopcolumn-grid:after {
    clear: both; }
  /* line 419, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .shopcolumn-grid > .left-col {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%; }
    /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
    .shopcolumn-grid > .left-col:last-child {
      margin-right: 0; }
    /* line 422, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .shopcolumn-grid > .left-col .shop-logo {
      margin-bottom: 20px; }
  /* line 431, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .shopcolumn-grid > .inner-col {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 57.35098%;
    *zoom: 1; }
    /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
    .shopcolumn-grid > .inner-col:last-child {
      margin-right: 0; }
    /* line 17, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
    .shopcolumn-grid > .inner-col:before, .shopcolumn-grid > .inner-col:after {
      content: " ";
      display: table; }
    /* line 23, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/bourbon/addons/_clearfix.css.scss */
    .shopcolumn-grid > .inner-col:after {
      clear: both; }
    /* line 435, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .shopcolumn-grid > .inner-col > .nested-small-col {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 47.58542%; }
      /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
      .shopcolumn-grid > .inner-col > .nested-small-col:last-child {
        margin-right: 0; }
      /* line 70, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_omega.css.scss */
      .shopcolumn-grid > .inner-col > .nested-small-col:nth-child(2n) {
        margin-right: 0; }
      /* line 75, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_omega.css.scss */
      .shopcolumn-grid > .inner-col > .nested-small-col:nth-child(2n+1) {
        clear: left; }
    /* line 440, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .shopcolumn-grid > .inner-col > .nested-big-col {
      display: block;
      float: left;
      margin-right: 4.82916%;
      width: 100%; }
      /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
      .shopcolumn-grid > .inner-col > .nested-big-col:last-child {
        margin-right: 0; }
    @media only screen and (min-device-width: 320px) and (max-width: 767px) {
      /* line 445, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
      .shopcolumn-grid > .inner-col > .nested-small-col,
      .shopcolumn-grid > .inner-col > .nested-big-col {
        display: block;
        float: left;
        margin-right: 38.19821%;
        width: 100%;
        text-align: left; }
        /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
        .shopcolumn-grid > .inner-col > .nested-small-col:last-child,
        .shopcolumn-grid > .inner-col > .nested-big-col:last-child {
          margin-right: 0; } }
  /* line 453, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .shopcolumn-grid > .right-col {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: center; }
    /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
    .shopcolumn-grid > .right-col:last-child {
      margin-right: 0; }
    /* line 457, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .shopcolumn-grid > .right-col > div {
      margin-top: 20px; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 463, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .shopcolumn-grid > .left-col,
    .shopcolumn-grid > .right-col,
    .shopcolumn-grid > .inner-col {
      display: block;
      float: left;
      margin-right: 38.19821%;
      width: 100%;
      margin-bottom: 20px;
      text-align: center; }
      /* line 41, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/vendor/neat/grid/_span-columns.css.scss */
      .shopcolumn-grid > .left-col:last-child,
      .shopcolumn-grid > .right-col:last-child,
      .shopcolumn-grid > .inner-col:last-child {
        margin-right: 0; } }
  /* line 472, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .shopcolumn-grid.head {
    padding: 0;
    border-top: 0;
    font-size: 14px; }
    @media only screen and (min-device-width: 320px) and (max-width: 767px) {
      /* line 472, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
      .shopcolumn-grid.head {
        display: none; } }

/* line 484, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.shopcolumn-grid-rating img {
  width: 20px; }

/* line 489, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.vendor-button {
  font-size: 16px;
  height: 40px;
  line-height: 40px; }

/* line 497, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.finden-breadcrumbs {
  min-height: 80px;
  margin-bottom: 20px; }
  /* line 501, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .finden-breadcrumbs > div {
    display: inline-block;
    position: relative;
    width: 50%;
    margin-right: -5px;
    margin-bottom: 2px;
    padding: 0 20px 0 40px;
    background-color: #F5F5F5;
    line-height: 80px;
    text-align: center;
    font-size: 21px; }
    @media only screen and (min-device-width: 320px) and (max-width: 767px) {
      /* line 501, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
      .finden-breadcrumbs > div {
        width: 100%;
        padding: 5px;
        font-size: 18px; } }
    /* line 519, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .finden-breadcrumbs > div:after, .finden-breadcrumbs > div:before {
      display: block;
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 100%;
      margin: auto;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-left: 40px solid transparent;
      content: '';
      z-index: 2; }
    /* line 535, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .finden-breadcrumbs > div:last-child:after, .finden-breadcrumbs > div:last-child:before {
      border: 0; }
    /* line 540, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .finden-breadcrumbs > div:before {
      margin-left: 10px;
      border-left-color: #fff;
      z-index: 1; }
    /* line 546, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .finden-breadcrumbs > div:after {
      border-left-color: #F5F5F5; }

/* line 553, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.finden-breadcrumbs-content {
  width: 315px;
  margin: 0 auto; }
  /* line 557, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .finden-breadcrumbs-content img {
    float: left;
    height: 40px;
    margin: 18px 10px 0 0; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 553, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .finden-breadcrumbs-content {
      width: 100%; } }

/* line 569, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.landing-zip-input {
  display: inline-block;
  width: 175px;
  height: 55px;
  margin-right: 10px;
  padding: 0 20px;
  font-size: 18px;
  text-align: center; }
  @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    /* line 569, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
    .landing-zip-input {
      width: 90%;
      margin-bottom: 20px; } }

/* line 584, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
.landing-help-link {
  margin-top: 80px; }
  /* line 588, /Users/vanessa/Work/simplora/simplora-delivers/source/stylesheets/pages/_finden.css.scss */
  .landing-help-link a {
    color: #32a096; }
